<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spacemangames.railzim"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="alpha" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity
            android:name="com.spacemangames.railzim.ui.LoadingActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spacemangames.railzim.ui.MainMenu_"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.spacemangames.railzim.ui.SpaceApp_"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.spacemangames.railzim.ui.LevelSelect_"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.spacemangames.railzim.ui.HelpActivity_"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
    </application>

</manifest>