<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spacemangames.gravisphere"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.spacemangames.gravisphere.ui.LoadingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spacemangames.gravisphere.ui.MainMenu_"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.spacemangames.gravisphere.ui.SpaceApp"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.spacemangames.gravisphere.LevelSelect"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.spacemangames.gravisphere.ui.HelpActivity_"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
    </application>

</manifest>